body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: white;
  margin-top: 100px;
}

button {
  background-color: #0078D7;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #005A9E;
}
