body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: white;
  margin-top: 100px;
  transition: background-color 1s ease;
}

#changeColorBtn {
  position: center;
  font-size: 24px;       /* Kích thước chữ lớn hơn */
  padding: 50px 50px;    /* Kích thước nút lớn hơn */
  background-color: #0078D7;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

#changeColorBtn:hover {
  background-color: #005A9E;
  transform: scale(1.1);  /* Phóng to nút khi rê chuột */
}

h1 {
  position: center;;
  color: #000000;
  text-shadow: 2px 2px 5px #000';
}