body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #000000; /* nền hồng nhạt */
  margin: 0;
  padding-top: 100px;
}

h1 {
  color: #ffffff; /* tím đậm */
  text-shadow: 2px 2px 5px #aaa;
  margin-bottom: 20px;
  transition: transform 0.3s;
}

/* Mèo nhún khi hover */
#catImage {
  transition: transform 0.3s;
}

#catImage:hover {
  transform: scale(1.1) rotate(-5deg);
}
